.device-container {
  width: 28rem;
  height: 16.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: width 2s, height 2s;
}

.device-container * {
  transition: all 1.5s;
}

.animator {
  display: flex;
  justify-content: center;
}

.animator {
  /* phone */
  /* 9:16 ratio */
  width: 4.5em;
  height: 8em;
  background-color: lightcyan;
  border: 0.2em solid gray;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  height: 15%;
}

.link-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.link {
  width: 100%;
  height: 33.333%;
  border: 0.05em solid green;
  border-radius: 0.25em;
  background-color: lightgreen;
}

.main-content {
  width: 100%;
  height: 60%;
}

.footer {
  width: 100%;
  height: 10%;
  border-radius: 0.25em;
  border: 0.05em solid red;
  background-color: lightpink;
}

.phone .sub-content {
  width: 0%;
  height: 0%;
}

.tablet {
  /* made up  my own ratio */
  width: 9em;
  height: 12em;
}

.tablet .link {
  height: 32%;
}

.tablet .sub-container {
  padding: 1px;
}

.tablet .sub-container .link-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tablet .sub-content {
  border: 0.05em solid blue;
  border-radius: 0.25em;
  margin-left: 2px;
  background-color: lightblue;
}

.sub-container {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-content {
  width: 65%;
  height: 100%;
}

.pc {
  /* 16:9 ratio */
  width: 28rem;
  height: 16.75rem;
}

.pc .sub-container {
  height: 100%;
}

.pc .link-container {
  width: 15%;
  margin-top: 1%;
  margin-left: 0.5%;
  height: 30%;
  justify-content: space-between;
}

.pc .link {
  height: 30%;
}

.pc .sub-content {
  background-color: lightblue;
  width: 25%;
  height: 85%;
  margin-top: 1%;
  margin-right: 0.5%;
  border: 0.05em solid blue;
  border-radius: 0.25em;
}

.pc .main-content {
  height: 0%;
  width: 0%;
}

.header {
  width: 100%;
  border-radius: 0.25em;
  border: 0.05em solid purple;
  background-color: plum;
}

@media screen and (max-width: 1023px) {
  .device-container {
    display: none;
  }
}
