* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  /* border: 1px red solid; */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
