.global-contact-me-button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  text-decoration: none;
  border-radius: 2rem;
  background-color: rgb(206, 37, 85);
  color: white;
  font-weight: bold;
  font-size: medium;
  border: none;
  filter: drop-shadow(2px 2px 2px black);
}

.global-jump-link {
  height: 0px;
  width: 100%;
  visibility: hidden;
  z-index: -1;
  padding-top: 86px;
  margin-top: -86px;
  background-clip: content-box;
}

.global-lightgray-background {
  background-color: #0000000d;
}

.global-text-align-center {
  text-align: center;
}
