.website-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-image: linear-gradient(90deg, rgba(255,255,204,.2), transparent); */
    background-color: white;
}

.description {
    width: 28rem;
    filter: drop-shadow(0em 0em 1px white);
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(270deg, rgba(255,255,204,.2), transparent); */
    margin-bottom: 2rem;
}

.section-header {
    width: 33%;
    text-align: center;
    font-size: x-large;
    line-height: 3.5rem;
}

.contact-me-button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    text-decoration: none;
    border-radius: 2rem;
    background-color: rgb(206, 37, 85);
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
    filter: drop-shadow(2px 2px 2px black);
}